.form-callback 
	// font-family: "Montserrat", sans-serif
	&__title
		font-size: 3rem
		font-weight: bold
		text-align: center
		margin-bottom: 2.9rem
		@media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max)
			font-size: 3.5rem
	&__hint
		font-size: 1.7rem
		text-align: center
		margin-bottom: 3.3rem
		@media screen and (min-width:$screen-sm-min) and (max-width:$screen-sm-max)
			font-size: 2rem
		@media screen and (max-width:$screen-xs-min - 1)
			font-size: 1.4rem
	&__input
		padding: 28px 32px
		border: solid 1px #ffffff
		color: #fff
		background-color: transparent
		display: block
		width: 100%
		font-size: 1.6rem
		line-height: 1.2
		text-align: left
		transition: all .3s ease-out
		@media screen and (max-width:$screen-sm-max)
			padding: 24px
			font-size: 2rem
		&:hover
			background-color: rgba(199, 58, 184, 0.051)
		&:focus
			background-color: rgba(199, 58, 184, 0.2)
		&::placeholder
			color: #fff
		&:not(:last-of-type) 
			margin-bottom: 2rem
		&-wrapper
			margin-bottom: 3.8rem
	&__checkbox 
		display: flex
		align-items: center
		justify-content: left
		margin-bottom: 3.8rem
		label
			font-size: 1.4rem
			position: relative
			padding-left: 60px
			line-height: 1.3
			@media screen and (max-width:$screen-xs-min - 1)
				font-size: 1.3rem
		input
			position: absolute
			display: none
			opacity: 0
			&:checked + span
				background: purple
				border: 1px solid purple
				&:after
					background: #fff
					transform: translate(18px, -50%)
		span
			display: inline-block
			width: 40px
			height: 20px
			border-radius: 6px
			transition: .1s .1s ease-in-out
			position: absolute
			left: 0
			top: 50%
			transform: translateY(-50%)
			background: #fff
			border: 1px solid #fff
			&:after
				content: " "
				position: absolute
				display: block
				width: 16px
				height: 16px
				border: 1px solid purple
				border-radius: 50%
				box-shadow: 1px 1px 5px 0px rgba(57, 57, 57, 0.4)
				background: purple
				left: 3px
				top: 50%
				transform: translateY(-50%)
				transition: .25s .03s ease-in-out
			&:hover
				cursor: pointer
	&__btn
		text-align: center
		font-weight: bold
		font-size: 2rem
		width: 100%
		padding: 15px 30px;
		height: 71px
		@media screen and (max-width:$screen-xs-max)
			height: 50px

.input-wrapper
	position: relative
	width: 100%
	height: 73px
	transition: all .3s ease-out
	font-size: 1.6rem
	margin-bottom: 20px
	@media screen and (max-width:$screen-sm-max)
		font-size: 2rem
	@media screen and (max-width:$screen-xs-max)
		font-size: 1.5rem
		height: 55px
	input
		position: absolute
		padding: 26px 32px 6px
		width: 100%
		height: 100%
		background-color: transparent
		border: solid 1px #ffffff
		color: #fff
		z-index: 1
		@media screen and (max-width:$screen-xs-max)
			padding: 26px 18px 10px
		&:hover
			background-color: rgba(199, 58, 184, 0.051)
		&:focus
			background-color: rgba(199, 58, 184, 0.2)
	label
		position: absolute
		left: 32px
		top: 50%
		transform: translateY(-50%)
		transition: all 150ms ease-out
		@media screen and (max-width:$screen-xs-max)
			left: 18px
	.clean
		position: absolute
		width: 16px
		height: 16px
		top: 50%
		right: 10px
		transform: translate(-5%, -50%)
		cursor: pointer
		display: none
		z-index: 2
		@media screen and (max-width:$screen-xs-max)
			width: 12px
			height: 12px
		&:before
			content: ''
			position: absolute
			background: #fff
			height: 2px
			width: 100%
			top: 50%
			transform: translateY(-50%) rotate(45deg)
		&:after
			content: ''
			position: absolute
			background: #fff
			height: 2px
			width: 100%
			top: 50%
			transform: translateY(-50%) rotate(-45deg)

.popup .input-wrapper
	input
		border-color: purple
		color: #1a242c
	.clean
		&:before, &:after
			background: #c73ab8

.focused label
	font-size: 1.3rem
	top: 20%


.loader 
	font-size: 0px
	position: relative
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 50%
		width: 30px
		height: 30px
		transform: translate(-50%, -50%)
		border: 5px solid #fff
		border-top-color: transparent
		border-radius: 50%
		animation: loader .7s linear infinite
